<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <div class=" card-header">
                    <div class="row">
                        <div>
                            <h2 class=" title p-2">Video Contents of Playlist</h2>
                        </div>
                    </div>
                </div>
                <app-video-content-list [videos]="videoContents"></app-video-content-list>
            </div>
        </div>
    </div>
</div>