<div class="card" style="width: 10rem; background-color: #282e3e"
    [routerLink]="audio ? ['/audioContent', categoryId, playlist.id] : ['/videoContent', categoryId, playlist.id] "
    routerLinkActive="active">
    <div class=" card-header">
        <h4 class=" title" style="align-content: center">{{playlist.name}}</h4>
    </div>
    <div class="card-body">
        {{playlist.description}}
    </div>
    <!-- <img class="card-img-top" src="{{playlist.imageUrl}}" alt="Card image cap" /> -->
</div>