<div class=" card-body">
    <div class=" row">
        <div class=" col-md-6 pr-md-1" [formGroup]="playableContentContentForm">
            <div class=" form-group has-label" [ngClass]="{
                    'has-danger':
                    !playableContentContentForm.get('name').valid && (playableContentContentForm.get('name').touched || submited)
                }">
                <label> Name </label>
                <input class=" form-control" placeholder="Alucinate" type="text" formControlName="name" />
                <label class="error"
                    *ngIf="!playableContentContentForm.get('name').valid && (playableContentContentForm.get('name').touched || submited)">Please
                    enter a valid name.</label>
            </div>
        </div>
        <div class=" col-md-6 pl-md-1" [formGroup]="playableContentContentForm">
            <div class=" form-group has-label">
                <label> Duration </label>
                <div class=" form-group has-label">
                    <timepicker formControlName="duration" [showMeridian]="false" [showSpinners]="false"
                        [showMinutes]="true" [showSeconds]="true"> </timepicker>
                </div>
                <label class="error" style="color:#ec250d"
                    *ngIf="!playableContentContentForm.get('duration').valid && (playableContentContentForm.get('duration').touched || submited)">Please
                    enter a valid duration.</label>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-6 pr-md-1" [formGroup]="playableContentContentForm">
            <div class=" form-group has-label" [ngClass]="{
                    'has-danger':
                    !playableContentContentForm.get('creatorName').valid && (playableContentContentForm.get('creatorName').touched || submited)
                }">
                <label> Creator </label>
                <input class=" form-control" placeholder="Dua Lipa" type="text" formControlName="creatorName" />
                <label class="error"
                    *ngIf="!playableContentContentForm.get('creatorName').valid && (playableContentContentForm.get('creatorName').touched || submited)">Please
                    enter a valid creator name.</label>
            </div>
        </div>
        <div class=" col-md-6 pl-md-1" [formGroup]="playableContentContentForm">
            <div class=" form-group has-label" [ngClass]="{
                        'has-danger':
                        !playableContentContentForm.get('categories').valid
                    }">
                <label> Categories </label>
                <angular2-multiselect [data]="categoriesData" [ngModel]="originalCategories"
                    [ngModelOptions]="{standalone: true}" [settings]="{
                                singleSelection: false,
                                enableCheckAll: false,
                                text: 'Categories',
                                enableSearchFilter: false,
                                classes: 'selectpicker btn-danger'
                            }" name="playableContentCategory" (onSelect)="categorySelect($event)"
                    (onDeSelect)="categoryDeSelect($event)">
                </angular2-multiselect>
                <label class="error" *ngIf="!playableContentContentForm.get('categories').valid">Please select
                    a category.</label>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-6 pr-md-1" *ngIf="isAudio" [formGroup]="playableContentContentForm">
            <div class=" form-group has-label" [ngClass]="{
                    'has-danger':
                    !playableContentContentForm.get('audioUrl').valid && (playableContentContentForm.get('audioUrl').touched || submited)
                }">
                <label> Audio Url </label>
                <input class=" form-control" placeholder="https://thisIsTheAudioUrl.com" type="text"
                    formControlName="audioUrl" />
                <label class="error"
                    *ngIf="!playableContentContentForm.get('audioUrl').valid && (playableContentContentForm.get('audioUrl').touched || submited)">Please
                    enter a valid audio Url.</label>
            </div>
        </div>
        <div class=" col-md-6 pr-md-1" *ngIf="!isAudio" [formGroup]="playableContentContentForm">
            <div class=" form-group has-label" [ngClass]="{
                        'has-danger':
                        !playableContentContentForm.get('videoUrl').valid && (playableContentContentForm.get('videoUrl').touched || submited)
                    }">
                <label> Video Url </label>
                <input class=" form-control" placeholder="https://thisIsTheVideoUrl.com" type="text"
                    formControlName="videoUrl" />
                <label class="error"
                    *ngIf="!playableContentContentForm.get('videoUrl').valid && (playableContentContentForm.get('videoUrl').touched || submited)">Please
                    enter a valid video Url.</label>
            </div>
        </div>
        <div class=" col-md-6 pl-md-1" *ngIf="isAudio" [formGroup]="playableContentContentForm">
            <div class=" form-group">
                <label> Image Url </label>
                <input class=" form-control" placeholder="https://thisIsTheImageUrl.com" type="text"
                    formControlName="imageUrl" />
            </div>
        </div>

    </div>
    <div class=" row">
        <div class=" col-md-6 pr-md-1" [formGroup]="playableContentContentForm">
            <div class=" form-group has-label" [ngClass]="{
                    'has-danger':
                    !playableContentContentForm.get('playlists').valid
                }" *ngIf="selectedCategory && playlistsData.length>0">
                <label> Playlist </label>
                <angular2-multiselect [data]="playlistsData" [ngModel]="originalPlaylists"
                    [ngModelOptions]="{standalone: true}" [settings]="{
                            singleSelection: false,
                            enableCheckAll: false,
                            text: 'Playlists',
                            enableSearchFilter: false,
                            classes: 'selectpicker btn-danger'
                        }" name="playableContentPlaylist" (onSelect)="playlistSelect($event)"
                    (onDeSelect)="playlistDeSelect($event)">
                </angular2-multiselect>
                <label class="error" *ngIf="!playableContentContentForm.get('playlists').valid">Please select
                    a playlist.</label>
            </div>
        </div>
    </div>
    <div class=" row" *ngIf="newPlaylist">
        <div class=" col-md-6 pr-md-1" [formGroup]="selectedPlaylist">
            <div class=" form-group has-label" [ngClass]="{
                        'has-danger':
                        !selectedPlaylist.get('name').valid && (selectedPlaylist.get('name').touched || submited)
                    }">
                <label>New Playlist Name </label>
                <input class=" form-control" placeholder="Pop hits" type="text" formControlName="name" />
                <label class="error"
                    *ngIf="!selectedPlaylist.get('name').valid && (selectedPlaylist.get('name').touched || submited)">Please
                    enter a valid playlist name.</label>
            </div>
        </div>
        <div class=" col-md-6 pl-md-1" [formGroup]="selectedPlaylist">
            <div class=" form-group has-label" [ngClass]="{
                        'has-danger':
                        !selectedPlaylist.get('description').valid && (selectedPlaylist.get('description').touched || submited)
                    }">
                <label>New Playlist Description </label>
                <input class=" form-control" placeholder="All Pop hits to have an amazing nigth" type="text"
                    formControlName="description" />
                <label class="error"
                    *ngIf="!selectedPlaylist.get('description').valid && (selectedPlaylist.get('description').touched || submited)">Please
                    enter a valid playlist description.</label>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-6 pr-md-1">
            <div class=" form-group">
                <div class=" form-check pull-left">
                    <label class=" form-check-label">
                        <input class=" form-check-input" name="optionCheckboxes" type="checkbox"
                            [(ngModel)]="newPlaylist" [ngModelOptions]="{standalone: true}" name="newPlaylistFlag"
                            (ngModelChange)="createNewPlaylist($event)" />

                        <span class=" form-check-sign"> </span> New playlist
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>