<div class=" content">
    <div class=" row">
        <div class=" col-md-8">
            <div class=" card">
                <div class=" card-header">
                    <h2 class=" title">Edit Audio Content</h2>
                </div>
                <form [formGroup]="editAudioContentForm">
                    <app-playable-content-form [parentForm]="editAudioContentForm" [isAudio]="true">
                    </app-playable-content-form>
                </form>
                <div class=" card-footer">
                    <button class=" btn btn-fill btn-danger" type="submit" (click)="updateAudioContent()">Edit
                        audio content</button>
                </div>
            </div>
        </div>
    </div>
</div>