<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <div class=" card-header">
                    <div class="row">
                        <div class="float-right">
                            <button class="btn btn-default btn-fab btn-icon btn-round"
                                [routerLink]="['/playlists', categoryId]" routerLinkActive="active">
                                <i class="tim-icons icon-minimal-left"></i>
                            </button>
                        </div>
                        <div>
                            <h2 class=" title p-2">Audio Contents of Playlist</h2>
                        </div>
                    </div>
                </div>
                <app-audio-content-table [audios]="audioContents"></app-audio-content-table>
            </div>
        </div>
    </div>
</div>