<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <div class=" card-header">
                    <div class="row">
                        <div class="float-right">
                            <button class="btn btn-default btn-fab btn-icon btn-round"
                                [routerLink]="['/playlists', categoryId]" routerLinkActive="active">
                                <i class="tim-icons icon-minimal-left"></i>
                            </button>
                        </div>
                        <div>
                            <h2 class=" title p-2">Audio Contents of Playlist</h2>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center"></th> <!-- IMAGE-->
                            <th>Title</th>
                            <th>Creator</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let audio of audioContent">
                            <td class="text-center">{{audio.Id}}</td>
                            <td></td>
                            <td>{{audio.Name}}</td>
                            <td>{{audio.Creator}}</td>
                            <td>{{audio.Duration}}</td>
                            <td class=" text-right">
                                <button class=" btn btn-link btn-sm btn-icon" tooltip="Refresh"
                                    type="button" [routerLink]="['/audioContent/edit', audio.Id]" routerLinkActive="active">
                                    <i class=" tim-icons icon-pencil"> </i>
                                </button>
                                <button class=" btn btn-danger btn-link btn-sm" tooltip="Delete" type="button" (click)="delete(audio.Id)">
                                    <i class=" tim-icons icon-simple-remove"> </i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>