<div class=" card">
    <div class=" card-body">
        <div class=" col-12">
            <div class=" card-body all-icons">
                <div class=" card">
                    <div class=" row ">
                        <div *ngFor="let video of videos" class="font-icon-list col-sm-4">
                            <div class="card">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" [src]="video.videoUrl | safe: 'resourceUrl'"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="card-body container-fluid">
                                    <div class="row h-90">
                                        <div class="col-md-9">
                                            <h4 class="w-75">Name: {{video.name}}</h4>
                                        </div>
                                        <div *ngIf=isAutenticated class="col-md-3 float-right">
                                            <div class="row">
                                                <button class=" btn btn-link btn-sm btn-icon" tooltip="Refresh"
                                                    type="button" [routerLink]="['/videoContent/edit', video.id]"
                                                    routerLinkActive="active">
                                                    <i class=" tim-icons icon-pencil"> </i>
                                                </button>
                                                <button class=" btn btn-danger btn-link btn-sm" tooltip="Delete"
                                                    type="button" (click)="deleteModal(video.id)">
                                                    <i class=" tim-icons icon-simple-remove"> </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>